/* font-family: 'Fira Code', monospace;
font-family: 'Trispace', sans-serif; */
/* font-family: 'Monoton', cursive; */

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
  /* Color */
  --color-white: #f9f9f9;;
  --color-white2: #cdd8f8;
  --color-green: #7cd0c9;
  --color-red: #EA2027;
  --color-gray: #505050;
  --color-text: #7f8ba5;
  --color-cream: #f7f1e3;
  /* font */
  --font-main: 'Trispace', sans-serif;
  --font-sub: 'Fira Code', monospace;

  

    /* Font size */
  --font-large: 48px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-tiny: 10px;

    /* Font weight */
  --weight-bold:700;
  --weight-semi-bold:600;
  --weight-regular:400;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
h2, h3{
  /* font-size: 32px; */
  font-weight: 300;
}

body{
  font-family: 'Trispace', sans-serif;
  margin: 0;
  background:url('images/bg.jpg') center/cover repeat;
  color: var(--color-white);
  background-attachment: fixed;
}

/* ----------------------------- Header ------------------------------- */
header{
  position:fixed;
  width: 100%;
  z-index:10;
  transition: 0.5s;
  margin: 0;
}
header.dark{

  background-color: #211f1fd8;
}
.header-inner{
  margin: auto;
  width: 1300px;
  
  padding-top: 22px;
  padding-bottom: 15px;
  display:flex;
  justify-content: space-between;
  transition: 0.3s;
}
.header-inner.dark{
  /* background-color: #211f1fd8; */
  /* padding: 20px 9% 15px 9%; */
  padding: 25px 8px 15px 8px;
  /* box-shadow: 0 0 4px #100f0f; */
}
.logo{
  color: var(--color-white);
  align-self:center;
  cursor:pointer;
  font-size: 20px;
}
.menu a{
  /* font-family: 'Fira Code', monospace; */
  display:inline-block;
  width:100px;
  margin: 10px;
  margin-top:0;
  font-size: var(--font-micro);
  color: var(--color-white);
  font-weight: 200;
  cursor: pointer;
  position:relative;
  padding-top: 10px;
  overflow:hidden;
  
}
.menu a span{
  font-size: var(--font-tiny);
  color: var(--color-green);
}
.menu a:nth-child(4){
  width: 140px;
}
.menu a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray);
  top: 0;
  left: 0;
  display:block;
}
.menu a:after{
  content:'';
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--color-white);
  top: 0;
  left: 0;
  display:block;
  transition: 0.3s;
}
.menu a:hover:after{
  width: 100%;
}

/* ----------------------------------- Home ---------------------------------- */
#home{
  /* background:url('images/bg2.jpg') center/cover no-repeat; */
  
  width: 100%;
  height: 75vh;
  border-bottom: 1px solid var(--color-gray);
}
.home__container{
  margin: auto;
  width: 1300px;
  /* display:flex; */
  position:relative;
  overflow: hidden;
  height: 100%;
}
.home__contents{
  float:left;
  width: 680px;
  position:absolute;
  top:50%;
  left: 5%;
  color:var(--color-white);
  text-align:center;
  margin: auto;
  cursor:default;
}
.home__contents h1{
  font-size: 44px;
  font-weight: 500;
  line-height: 1.6em;
}
.home__contents h2{
  font-family: 'Fira Code', monospace;
  font-weight: var(--weight-regular);
  font-size: var(--font-medium);
  color: var(--color-green);

}

.home__photo{
  float:right;
  position: absolute;
  bottom: -5px;
  right: 0;
}
.home__photo img{
  /* width: 540px; */
}
/* ------------------------------- About ---------------------------------- */
#about{
  width: 100%;
  /* background:url('images/bg2.jpg') center/cover no-repeat; */
  padding-top:100px;

  /* border-bottom: 1px solid var(--color-gray); */
}
.about__container{
  width: 1300px;
  margin:auto;
  position:relative;
}
.about__container h2{
  color: #f1f2f6;
  /* margin-top: 100px; */
  font-size: 32px;
  font-weight: 300;
}
.about__container h2 span{
  color:var(--color-green);
  font-size: 24px;
}
.about__contents{
  /* padding-top: 80px; */
  display:flex;
  
}
.aboutMe{
  flex:1;
  padding-right: 20px;
  animation: ltr 0.5s linear both;
}
.aboutMe p{
  margin-top:0;
  color: #f7f1e3;
  /* color: #7f8ba5; */
  font-family: var(--font-sub);
  line-height: 2em;
  padding-bottom:20px
}
.aboutMe p span{
  color: var(--color-green);
  /* color: crimson; */
}
.experiences{
  padding-left: 60px;
  animation: rtl 0.5s linear both;
}
.experiences h3{
  color: var(--color-white);
  margin-left: 60px;
  margin-top:0;
  font-size: 26px;
  font-weight: 300;
}
.experience-item p{
  color: #7f8ba5;
}
.experience-item p span{
  color: var(--color-green);
}
.experience-item p:first-child{
  /* color: var(--color-white); */
  color: #f7f1e3;
  font-size: 14px;
  margin-bottom: 6px;
}
.experience-item p:last-child{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;

}

/* -------------------------- Skills ---------------------------- */
#skills{
  width: 100%;
  /* height: 600px; */
  /* border-bottom: 1px solid var(--color-gray); */
}
.skills__container{
  width: 1300px;
  margin:auto;
  color: var(--color-white);
  position:relative;
  
}
.skills__container h2{
  color: var(--color-white);
  font-size: 32px;
  position:absolute;
  top: 80px;
  margin:0;
  right:40px;
}
.skills__container h2 span{
  font-size: 24px;
  color: var(--color-green);
}
.skills__items{
  padding: 40px;
  display:grid;
  padding-top: 180px;
  padding-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  animation: utd 0.5s linear both;

}
.skill{
  padding: 20px;
  font-weight: 300;
  
}
.skill-logo{
  width: 120px;
  border: 2px solid var(--color-text);
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  text-align:center;
  margin:10px auto;
  position:relative;
  font-size: 16px;
  
}
.skill:nth-child(3) .skill-logo p{
  /* text-align:center; */
  /* margin:0 auto; */
  position:absolute;
  line-height: 1.2em;
  top: 22px;
  left: 8px;
  font-size: 16px;
  font-family: var(--font-main);
}
.skill:nth-child(1){
  grid-column: 1/2;
  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.skill:nth-child(2){
  grid-column: 2/3;
  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white)
}
.skill:nth-child(3){
  grid-column: 3/4;
  border-bottom: 1px solid var(--color-white)
}
.skill:nth-child(4){
  /* grid-column: 3/4; */
  border-right: 1px solid var(--color-white)
}
.skill:nth-child(5){
  /* grid-column: 3/4; */
  border-right: 1px solid var(--color-white)
}
.skill p{
  text-align:center;
  font-weight: 300;
  line-height:1.8em;
  font-size: 14px;
  font-family: var(--font-sub);
}

/* ----------------------------- UI Design ---------------------------- */
#ui{
  width: 100%;
}
.ui__container{
  width: 1300px;
  margin: auto;
}
.ui__container h2{
  margin-top:0;
  padding-top: 80px;
  margin-bottom: 80px;
  font-size: 32px;

}
.ui__container h2 span{
  font-size: 24px;
  color: var(--color-green);
}
.ui-inner{
  display:flex;
  margin-bottom: 0px;
}
.ui-menu{
  margin-left: 20px;
  
}
.ui-menu .active{
  color: var(--color-green);
}
.ui-menu .active:after{
  left: 0;
}
.ui-menu p{
  margin-bottom:10px;
  padding-bottom: 22px;
  cursor: pointer;
  position:relative;
  transition: 0.3s;
  overflow:hidden;
}
.ui-menu p:after{
  content: '';
  position:absolute;
  width: 50px;
  left: -50px;
  border-top: 1px dotted var(--color-green);
  bottom: 10px;
  /* opacity: 0; */
  transition: 0.3s;
}
.ui-menu p:hover{
  color: var(--color-green);
}
.ui-menu p:hover:after{
  left:0;
  /* opacity: 1; */
}
.ui-contents{
  position:relative;
  /* overflow: auto; */
  width: 100%;
  overflow:hidden;
  height: 320px;
  padding-top: 10px;
  opacity: 0;
  animation: rtl 0.5s linear both;
  height: 310px;

}
.ui-items{
  position: absolute;
  display:flex;
  margin-left: 100px;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  /* overflow:hidden; */
}
.ui-items.active{
  left: 0;
  opacity: 1;
  visibility: visible;
}
.ui-item{
  width: 280px;
  margin: 20px;
  margin-top: 0;
  position:relative;
  cursor: pointer;
  /* box-shadow: 0px 0px 8px rgba(0,0,0,0.69); */
  border-radius: 10px
}

.ui-item img{
  width: 100%;
  border-radius: 10px;
  filter: grayscale(80%);
  transition: 0.3s;
}
.ui-item:hover img{
  filter:none;
  transform: scale(1.05);
}
.ui-item div{
  position:absolute;
  bottom: -16px;
  left: -12px;
}
.ui-item div p{
  margin:0;
  font-family: var(--font-sub);
}
.ui-item div p:first-child{
  font-size: 20px;
  
  color:white;
  text-shadow: 4px 2px 2px rgb(69, 69, 69);
}
.ui-item div p:last-child{
  font-size: 14px;
  color: var(--color-green);
  
}

/* ----------------------Featherlight ---------------------- */
.featherlight .featherlight-content {
  /* position:relative; */
  margin-left: 0;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.featherlight iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 50px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: rgb(6, 141, 119);
  border: none;
  padding: 0;
  font-size: 40px;
  outline: none;
}

/* -------------------------- Works ------------------------------ */
#works{
  width: 100%;
}
.works__container{
  width: 1300px;
  margin:auto;
  position:relative;
}
.works__container h2{
  position:absolute;
  right:40px;
  font-size: 32px;
  margin:0;
  padding: 100px 0 20px 0;
}
.works__container h2 span{
  font-size: 24px;
  color: var(--color-green);
}
.works__container input[name=tabmenu]{
  display:none;
}

.work__inner{
  display: flex;
  padding-top: 200px;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.works__items{
  width: 800px;
  height: 630px;
  overflow:hidden;
  position:relative;
  margin-right: 100px;
  border-radius:20px;
  animation: ltr 0.5s linear both;
}

.works__slider{
  /* margin-top: 100px; */
  transition: 0.5s;
  position:absolute;
  top:0;
  right:0;
  
}
.works__item{
  width: 800px;
  margin:auto;
  position:relative;
  /* z-index: -2; */
  /* height: 640px; */
  /* overflow:auto; */
  overflow:visible;
  /* margin-bottom: 50px; */
  height: 630px;
  margin-bottom: 10px;

}
.work {
  position:relative;
  z-index: 1;
}
.work img{
  margin: auto;
  width: 800px;
  border-radius: 20px;
  z-index: -1;
  position:relative;
  box-shadow: 0 0 2px gray;
  /* border: 2px solid var(--color-green); */
}
.works__item:first-child img:before{
  content:'01';
  color:yellow;
  position:absolute;
  left:-10px;
  top: 10px;
  z-index: 3;
  
}
.work h3{
  text-align:center;
  font-size: 18px;
  z-index: 10;
}
.contents{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  z-index: 10;
}
.contents div{
  width: 200px;
  text-align:center;
}
.contents div p {
  margin: 0;
  font-size: 16px;
  color: var(--color-cream);
}
.contents div p:last-child{
  font-size: 14px;
  color: var(--color-green);
  font-style: italic;
}
.background {
  position:absolute;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  z-index: -1;
}
.background h1{
  /* text-align:center; */
  font-weight: 300;
  font-family: 'Monoton', cursive;
  font-size: 100px;
  margin: 0;
  color: var(--color-gray);
  opacity: 0.4;
}
.view-btn{
  margin: auto;
  display:flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 20px;
  z-index:10;
  /* position:absolute; */
  /* bottom: -10px; */
  
}
.view-btn a {
  color: var(--color-white);
  margin: 0;
  margin-left: 20px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 14px;
  z-index: 10;
  cursor:pointer;
}
.work__inner .btn{
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  animation: rtl 1s linear both;
}
.btn p{
  margin-bottom:10px;
  padding-bottom: 22px;
  cursor: pointer;
  position:relative;
  transition: 0.3s;
  overflow:hidden;
}

.work__inner .btn p:after{
  content: '';
  position:absolute;
  width: 50px;
  left: -50px;
  border-top: 1px dotted var(--color-green);
  bottom: 10px;
  /* opacity: 0; */
  transition: 0.3s;
}
.btn p:hover{
  color: var(--color-green);
}
.btn p:hover:after{
  left: 0;
}
.btn p.active{
  color: var(--color-green);
}
.btn p.active:after{
  left:0;
}

/* --------------------------------- footer --------------------------*/
#bottom{
  
  margin: 180px auto;
  margin-bottom: 40px;
  width: 800px;
  text-align:center;
}
#bottom h3{
  font-weight: 600;
  font-size: 32px;
}
#bottom p{
  line-height: 1.6em;
  font-family: var(--font-sub);
  color: var(--color-cream);
}
#bottom p span{
  color: var(--color-green);
}
footer{
  text-align:center;
  margin-bottom: 30px;
  font-size: 14px;
}
/* --------------------------- social --------------------------- */
.socials{
  width: 40px;
  position: fixed;
  left:40px;
  bottom: 0;
  text-align:center;

}
.socials a{
  display:inline-block;
  width: 30px;
  color:var(--color-white);
  /* cursor:pointer; */
}
.socials .fa{
  transition: 0.3s;
  font-size: 20px;
  text-align:center;
  margin:auto;
}
.socials .fa:hover {
  transform: rotateY(360deg) scale(1.1);
  color: var(--color-green);
}
/* .socials a:hover .fa{
  transform: rotateY(360deg) scale(1.1);
  color: var(--color-green);
} */
.socials div{
  list-style: none;
  padding:0;
  margin-bottom:0;
}
.socials a{

  margin: auto;
  width: 30px;
  height: 40px;
  
  
}
.socials a .fa{
  
  /* padding:10px; */
  /* text-align:center; */
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: var(--color-white);
}

/* ------------- animation -----------------*/
@keyframes ltr{
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes rtl{
  0%{
    opacity: 0;
    transform: translateX(+150px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes dtu{
  0%{
    opacity: 0;
    transform: translateY(+250px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes utd{
  0%{
    opacity: 0;
    transform: translateY(-250px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------- Mobile View ------------------- */
@media (max-width: 768px){
  .home__container, .about__container, .skills__container, .ui__container, .works__container{
    width: 100%;
  }
  /* ------------------ Header Mobile ---------------- */
  .header-inner {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom:10px;
  }
  .header-inner.dark{
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .logo {
    float: right;
    margin-right: 20px;
    /* padding-bottom: 20px; */
    font-size: 16px;
  }
  .menu {
    float: none;
    background-color: #211f1fd8;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    left: -270px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
    padding-top: 70px;
    padding-left: 15px;
    transition: 0.5s;
  }
  .menu.active {
    left: 0;
  }
  .menu a {
    display: block;
    font-size: 14px;
  }
  .menu a:before{
    display: none;
  }
  /* Trigger */
  .trigger {
    /*border: 1px solid red;*/
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 28px;
    text-align: center;
    /*cursor: pointer;*/
  }
  .trigger:before {
    content: '\e91c';
    font-family: xeicon;
  }
  .trigger.active:before {
    content: '\e9af';
  }
  /* ------------------ Home Mobile ----------------- */
  #home{
    height: 100%;
    overflow:hidden;
  }
  .home__container{
    height:  100%;
    /* top: 100px; */
    /* position: absolute; */
    margin: 50px 10px 10px 0;
  }
  .home__contents{
    float:none;
    width: 100%;
    position: relative;
    height: 240px;
    left:0;
    padding: 8px;
  }
  .home__contents h1{
    font-size: 36px;
  }
  .home__contents h2{
    font-size: 16px;
  }
  .home__photo{
    float:none;
    width: 100%;
    position: relative;
  }
  .home__photo img{
    width: 100%;
  }
  /* ------------- about mobile- ------------------ */
  #about{
    padding-top: 40px;
  }

  .about__container h2{
    margin-left: 20px;
  }
  .about__contents{
    flex-direction: column;
  }
  .aboutMe{
    padding: 10px;
  }
  .aboutMe p{
    text-align:center;
    font-size: 12px;
  }
  .experiences{
    padding: 10px;
  }
  .experiences h3{
    margin: auto;
    text-align:center;
  }
  .experience-item{
    text-align:center;
  }
  .experience-item p:last-child{
    margin-bottom:0;
  }
  .experience-item p span{
    display:block;
  }
   /*----------- skills Mobile ----------- */
  .skills__container h2{
    top:50px;
  }
   .skills__items{
    display:flex;
    flex-direction:column;
    padding-top: 120px;
  }
  .skill:nth-child(1), .skill:nth-child(2), .skill:nth-child(4), .skill:nth-child(5){
    border-right:none;
  }
  .skill{
    border-bottom: 1px solid var(--color-white);
  }
  .skill p{
    font-size: 12px;
  }
  /* --------------- UI Mobile ------------------ */
  .ui__container h2{
    margin-left: 20px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .ui-inner{
    flex-direction: column;
    width: 100%;
  }
  .ui-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ui-menu p{
    margin: 0 10px;
  }
  .ui-contents{
    margin: auto;
    height: 1100px;
    max-width: 375px;
  }
  .ui-items{
    width: 100%;
    position:absolute;
    flex-direction: column;
    margin: auto;
  }
  .ui-item{
    width: 100%;
    box-sizing:border-box;
    margin:0px;
    padding: 10px;
    margin-bottom: 20px;
    text-align:center;
  }
  .ui-item img{
    width: 90%;
  }
  .ui-item div{
    left: 10px;
    bottom: -10px;
  }
  /* ------------------ Works Mobile ------------------ */
  .works__container h2{
    padding-top: 40px;
  }
  .work__inner{
    padding-top: 120px;
    flex-direction: column;
  }
  .works__items{
    max-width: 375px;
    margin: auto;
    height: 400px;
  }
  .works__item{
    width: 100%;
    height: 390px;
  }
  .works__slider{
    width: 100%;
  }
  .work{
    margin: 2px 6px;
  }
  .work img{
    width: 100%;
  }
  .work h3{
    margin-bottom: 10px;
  }
  .contents{
    margin-top: 16px;
  }
  .background{
    bottom : 70px;
  }
  .background h1{
    font-size: 60px;
  }
  .work__inner .btn{
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .btn p{
    margin: 10px;
    padding: 0;
  }
  .btn p:after{
    display: none;
  }

  /* ------------- bottom Mobile ------------------ */
  #bottom{
    width: 100%;
    margin-top: 40px;
  }
  #bottom p{
    font-size: 12px;
    margin: 12px;
  }
  footer{
    font-size: 12px;
  }


  .socials{
    position: relative;
    /* display: none; */
    width: 100%;
    left:0;
  }
  .socials div{
    display: flex;
    justify-content: center;
  }
  .socials div a{
    margin: 8px;
  }
  .socials:after{
    display: none;
  }
}
